.postCard {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  min-width: 30% !important;
  margin-top: 5%;
}

.signinheader {
  text-align: center;
  font-family: Helvetica;
  font-variant: small-caps;
  letter-spacing: 2px;
  color: #ffff;
  background-color: #3f51b5;
  padding-bottom: 4%;
  padding-top: 4%;
}

.email {
  min-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.password {
  min-width: 80%;
  margin-bottom: 10px;
  text-align: center;
}

.signIn {
  width: 130px;
  margin-bottom: 20px;
}

.signUp {
  margin-top: 30px;
}

.googleLogin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.facebookLogin {
  height: 46px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: calc(0.27548vw + 12.71074px);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #4c69ba;
  border: calc(0.06887vw + 0.67769px) solid #4c69ba;
  border-radius: 3px;
  font-size: 12px;
  padding: 13px 25px;
}

body {
  background-image: url("../assets/images/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

